{% extends 'base.html.twig' %}

{% block Title %}Mon compte - Natatribe{% endblock %}


{% block body %}
<h1>Mon compte</h1>
Bienvenue <strong>{{ app.user.prenom }}</strong> dans votre compte. <br>

<pre>
    {{ dump(app.user) }}
</pre>


<hr>
- <a href="{{ path('account_password') }}"> Modifier mot de passe </a><br>
- Mes réservations en cours <br>


{% endblock %}
