{% extends 'base.html.twig' %}

{% block title %}Mon compte - NatalTribe{% endblock %}

{% block body %}
<h1>Mon compte</h1>
Bienvenue {{ app.user.prenom }} dans votre compte. <br>
Dans cet espace vous auez accès à vos réservations et achats de vidéos.

<hr>
- <a href="{{ path('account_password') }}"> Modifier mot de passe </a><br>
- Mes réservations en cours <br>
- Mes vidéos

{% endblock %}
