{% extends 'base.html.twig' %}


{% block body %}
<link rel="stylesheet" href="{{ asset('assets/css/home.css') }}">


    

 <main>
    <p>NATAL TRIBE</p>
    <h1>COURS DE YOGA PRE & POST NATAL</h1>
    <h2>À Bordeaux et en ligne</h2>
    <span><img src="{{ asset('assets/images/nav_sans_bg2.png')}}" alt=""></span>

    <section class="sectionImp section section1" >
    
    <h2>Yoga pré natal et post natal. Pourquoi ? Quand commencer ? Comment ?</h2>
    
    <p>Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam eaque ipsa, quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt, explicabo. Nemo enim ipsam voluptatem, quia voluptas sit, aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos, qui ratione voluptatem sequi nesciunt, neque porro quisquam est, qui dolorem ipsum, quia dolor sit amet consectetur adipisci[ng] velit, sed quia non numquam [do] eius modi tempora inci[di]dunt, ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit, qui in ea voluptate velit esse, quam nihil molestiae consequatur, vel illum, qui dolorem eum fugiat, quo voluptas nulla pariatur?</p>
    
    </section>

    
    <section class="sectionPair section">
    <h2>Bienfaits du yoga pré natal.</h2>
    <p>Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam eaque ipsa, quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt, explicabo. Nemo enim ipsam voluptatem, quia voluptas sit, aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos, qui ratione voluptatem sequi nesciunt, neque porro quisquam est, qui dolorem ipsum, quia dolor sit amet consectetur adipisci[ng] velit, sed quia non numquam [do] eius modi tempora inci[di]dunt, ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit, qui in ea voluptate velit esse, quam nihil molestiae consequatur, vel illum, qui dolorem eum fugiat, quo voluptas nulla pariatur?</p>
    </section>

    <section class="sectionImp section">
    
    <h2>Intérêts du yoga post natal</h2>

    </section>

    <section class="sectionPair section">
    </section>
    
    
</main>


{% endblock %}
