{% extends 'base.html.twig' %}

{% block title %}Parcours - NatalTribe{% endblock %}


{% block stylesheets %}
    {{ parent() }}
 
    <link rel="stylesheet" href="{{ asset('assets/css/approche.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/form.css') }}">

{% endblock %}

{% block body %}
<main>
<h1>PARCOURS</h1>

<section class="approche">

    <h2 class="approcheTitle">UNE PASSION</h2>

    <p>
    Je suis Laura.
<br><br>
Je déroule mon tapis pour la première fois dans un cours d’Hatha Yoga en 2010. Je sais ce jour là qu'il fera partie de mon quotidien.

J'ai ensuite exploré différentes pratiques en France et à l’étranger, et lors de stages et retraites auprès de professeurs internationaux (Marc Darby, Petri Raisanen, Surinder Singh). C'est dans le Vinyasa flow que j'ai rapidement trouvé mon équilibre : la respiration qui guide le mouvement.

 <br><br>

Professeur de langue, je pars au Pérou en 2015 pour 2 ans où j’enseigne en parallèle le Yoga au Studio Vinyasa à Arequipa. Je déménage ensuite à New-York et me forme au Studio Yogamaya (RYT® 200) où j'enseigne également le Vinyasa et le Yoga pour enfants dans différentes écoles de la ville.
<br><br>
Passionnée par le corps féminin et la grossesse  (mon rêve plus jeune était de devenir sage femme), je suis captivée par le module pré natal et je mets en pratique mes connaissances pour ma propre grossesse en 2020.

<br><br>

Dès mon retour en France et jeune maman, je découvre en fait que trop peu de femmes sont accompagnées dans la récupération de leur corps après accouchement et que la rééducation du périnée est souvent la seule composante proposée.

<br><br>
Je décide alors de me spécialiser et me forme en 2021 à l’Institut de Gasquet en Physiologie de la Maternité et Yoga pré et post natal pour pouvoir accompagner directement ces femmes dans leur globalité, dès les premiers jours de grossesse jusqu'à quelques semaines après l'arrivée de leur bébé.

    
    </p>
</section>

</main>





{% endblock %}