{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}
<style>
#calendrier{
    width : 80%;
    margin : auto:
}
</style>

<body>

    <div class="container" id="calendrier">
    
    </div>
</body>

<script>
window.onload = () =>{
        let calendarEl = document.querySelector('#calendrier')
        let calendar = new FullCalendar.Calendar(calendarEl, {
            initialView: 'dayGridMonth',
            locale: 'fr',
            timeZone: 'Europe/Paris',
            headerToolbar: {
                start : 'prev next today',
                center : 'title',
                end : 'dayGridMonth,timeGridWeek,listMonth'
            },
            
            events: {{ data|raw }},

            

        })
        calendar.render()
    }

    
</script>
{% endblock %}
