:root {
  --fondNav: #bb5454;
  --textColor: white;
  --hoverColor: #f5cac3;
  --deepBlue: #0b032d;
  --greyBg: #f1f1f1;
  --beige: #f2efeb;
}

h1{
  font-family: 'barlow' !important;
  text-align: center;
  margin-top: 40px !important;
  color: var(--fondNav);
}
#bookIt{
  font-family: 'barlow' !important;
  text-align: center;
  color: var(--fondNav);
  font-weight: 400;
  font-size: 20px;
  margin-top: 20px;
}
#booking {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
  margin-top: 30px;
  font-family: 'barlow' !important;
  
}
#cart > ul{
  background-color: var(--beige);
  padding: 20px;
  padding-left: 60px;
  border-radius: 4px;
}
#cart > ul:nth-child(9)>li{
  padding: 5px;
}
#cart {

  color: var(--fondNav);
  width: 100%;
  min-width: 500px;
  padding: 40px;
  padding-top: 0;
  font-weight: 500;
  font-size: 20px;
  
}

#calendrier {

  width: 80%;
  border: solid 1px var(--fondNav);
  border-radius: 4px;
  padding: 10px;
  height: 480px;
  flex: 500px;
 
}

.fc-event {
  cursor: pointer;
}
.fc-license-message {
  display: none;
}

@media screen and (max-width: 768px){
  #booking{
    display: block;
    flex-direction: column;
    padding: 0;
    min-height: 500px;
  }
  #calendrier{
    width: 100%;
    padding: 0;
  }
#cart{
  min-width: 400px;
}
#fc-dom-1{
  font-size: 20px;
}
.modal-content{
  width: 40% !important;
 margin-top: 430px;
}

}