 {% block stylesheets %}

<link rel="stylesheet" href="{{ asset('assets/css/footer.css') }}">
{% endblock %}
<footer>
    <section>
        <section class="infos">
            <h4>Informations</h4>
            <ul>
                <li><a href="{{ path('contact') }}">Contact</a></li>
                <li>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-pinterest"></i></a>
                </li>
                <li><a href="{{ path('cgu') }}">Mentions légales</a></li>
            </ul>
        </section>
        <section class="badge">
            <img src="{{ asset('assets/images/RYT200.png') }}" alt="">
        </section>
        <section class="contact">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d11314.217955093456!2d-0.5897097!3d44.8510055!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb70235aa651eb3f9!2sYoga%20Prenatal%20Bordeaux!5e0!3m2!1sfr!2sfr!4v1663839100199!5m2!1sfr!2sfr" width="200" height="140" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </section>
        
    </section>
</footer>
