
<footer>
    <section>
        <section class="infos">
            <h3>Informations</h3>
            <ul>
                <li> <a href="">Conditions générales de vente</a> </li>
                <li><a href="">Mentions légales</a></li>
                <li><a href="{{ path('contact') }}">Contact</a></li>
                <li>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-pinterest"></i></a>
                </li>
            </ul>
        </section>
        <section class="badge">
            <img src="{{ asset('assets/images/RYT200.png') }}" alt="">
        </section>
        <section class="contact"></section>
        
    </section>
</footer>
